*{
    box-sizing: border-box;
}
.TODOLIST{
    background-size: cover;
    background-image: url(./autumn-oak-leaf-fantastic-beautiful-spray-bubbles-blue-background-magic-autumn-blue-background-yellow-oak-leaf-158238643.jpg);
    height: 100vh;
    margin: 0;
    padding-top: 50px;
}
.todocontainer{
    width: 80%;
    margin: auto;
}
.h1todolist{
    text-align: center;
    color: white;
    margin-top: 0em;
  }
  .todo{
    background-color: #eee; 
  }
  .num{
    display: inline-block;
    width: 11%;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgb(24, 40, 184) ;
  }
#id{
  display: inline-block;
  width: 11%;
  text-align: left;
  font-size: 25px;
  border: 1px solid #ccc;
  padding: 10px;
  color: rgb(24, 40, 184) ;
}

  .name {
    display: inline-block;
    width: 60%;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgb(24, 40, 184) ;
  
  }
  #name{
    display: inline-block;
    width: 60%;
    text-align: left;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgb(24, 40, 184) ;
  
  }
  .hours ,#hours{
    display: inline-block;
    width: 19%;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgb(24, 40, 184) ;
  
  } 
  #hours{
    display: inline-block;
    width: 19%;
    text-align: left;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgb(24, 40, 184) ;
  
  } 
  .action ,#act{
    display: inline-block;
    width: 10%;
    text-align: center;
    font-size: 25px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  .bar{
    background-color: rgb(24, 40, 184);
    color: #eee;
  }
  .ptodolist{
    text-align: center;
    margin: 0em;
    padding: 10px;
    font-size: 25px;
    color: rgb(24, 40, 184) ;
  
  }
  .Dolist span.icon{
    color: red;
    cursor: pointer;
  }
  /* addlist */
  #act{
    background-color: rgb(24, 40, 184);
    color: #ccc;
    cursor: pointer;
  }
  .blue{
    color: white;
  }
  ::placeholder{
    color: rgb(24, 40, 184) ;
  
  }
  