.crud{
  background-image: url(./wp2036927.jpg);
  height: 100vh;
  margin: 0em;
  padding-top: 50px;
}
.crudcontainer{
  width:80%;
  margin: 40px auto;
  background-color: rgba(119, 204, 157, 0.5);
  padding: 30px;
}
.h1crud{
    color:  rgb(255, 255, 255);
    padding: 20px;
    width: 50%;
    margin: 20px auto ;
}
.pcrud{
    color:  rgb(255, 255, 255);
    padding: 20px;
    width: 50%;
    margin: 20px auto ;
    font-size: 25px;
    font-weight: 600;
}

.formlistcrud{
    width: 80%;
    margin: auto;
}
.forminputcrud{
    width: 80%;
    height: 30px;
    color:  rgb(12, 145, 34);
    font-size: 25px;
    font-weight: 600;
    margin: auto;
}
.buttoncrud{
  width: 18%;
  margin: 5px;
  padding: 4px;
  font-size: 18px;
  font-weight: 500;
  color: white ;
  background-color: rgb(12, 145, 34);
}
.buttoncruddele{
    width: 18%;
    margin: 5px;
    padding: 4px;
    font-size: 18px;
    font-weight: 500;
    color: white ;
    background-color: rgb(223, 81, 81);
}
.buttoncrudedit{
    width: 18%;
    margin: 5px;
    padding: 4px;
    font-size: 18px;
    font-weight: 500;
    color: white ;
    background-color: rgb(97, 109, 99);
}
.spancrud{
    width: 61%;
    color:  rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
}
.ulcrud{
    width: 80%;
    margin: auto;
    padding: 2px 0 2px 2px;
}
.licrud{
    list-style-type: none;
    margin: 15px auto;
}