.Weather{
    background-image: url('./3.jpg');
    height: 100vh;
    margin: 0;
    padding-top: 50px;
}
.weathercontainer{
    height: 80vh;
    width: 25%;
    text-align: center;
    margin: auto;
    background-color: rgba(46, 104, 211, 0.5);
    padding: 50px;
}

.formlist{
    padding: 5px;
  }
  
.inputweather{
    display: block;
    margin: 10px auto auto auto;
    padding: 5px;
    color: darkblue;
    font-size: 14px;
    font-weight: 600;
  }
  .buttonweather{
    margin: 20px auto auto auto;
    padding: 8px;
    background-color: darkblue;
    color: white;
  }
 
.pweather{
    color: white;
    border-bottom: 1px solid rgb(218, 208, 208);
    font-size: 18px;
  }