.home{
    background-image: url(./97128253-futuristic-html-background-coding-programming-and-technology-concept-3d-rendering.jpg);
    height: 100vh;
    margin: 0em;
    padding: 50px;
}
.h1home{
    color: white;
    margin: auto;
    text-align: center;
}
.h2home{
    color: white;
    margin: auto;
    text-align: center;
}
.homecontainer{
    width: 70%;
    height: 20%;
    margin: auto;
    background-color: rgb(161, 159, 159,0.8);
    border-radius: 50%;
    padding-top: 20px;
}